.good-btn {
    border: transparent;
    border-radius: 50%;
    background-color: rgb(31, 102, 196);
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    outline: none;
    color: #ffffff;
    font-size: 18px;
}