.list-item {
    background-color: #ffffff;
    text-align: left;
    width: 85%;
    border: 4px;
    margin: 8px;
    display: inline-block;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.title {
    margin: 0;
}
.content {
    margin-top: 20px;
    font-size: 14px;
}